
.registerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 5px solid #ff0095; 
  padding: 20px;
  height: 100vh;
}

.registerWrapper input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

.registerWrapper button {
  padding: 10px 20px;
  background-color: black;
  border: 2px solid #00ff00;
  color: #00ff00;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.registerWrapper button:hover {
  background-color: #00ff00;
  color: black;
}